/*

COLOR PALETTE:

#FBE8A6 - BIEGE
#F4976C - SUBTLE ORANGE
#303C6C - NAVY BLUE
#B4DFE5 - LIGHT BLUE
#D2FDFF - AQUA BLUE

*/

@import url('https://fonts.googleapis.com/css?family=Arimo:400,700|Bree+Serif&subset=latin-ext');

body {
    position: relative;
	font-size: 16px;
}
header .navbar-default {
	background: transparent;
	border: none;
}

header .navbar-brand {
	background: url(images/meblegk-logo.png) no-repeat center center;
	height: 80px;
	background-size: contain;
	width: 100px;
	padding: 0;
	margin: 10px 0;
}

header ul.nav {
	font-family: 'Bree Serif';
	font-size: 1.4em;
}
header ul.nav li {
	display: inline-block;
	padding: 30px 5px;
}