/*

COLOR PALETTE:

#FBE8A6 - BIEGE
#F4976C - SUBTLE ORANGE
#303C6C - NAVY BLUE
#B4DFE5 - LIGHT BLUE
#D2FDFF - AQUA BLUE

*/

@import url('https://fonts.googleapis.com/css?family=Titillium+Web:400,600,700,900|Bree+Serif&subset=latin-ext');

body {
    position: relative;
	font-size: 16px;
    font-family: 'Titillium Web';
    font-weight: 400;
}

h1 {
	text-align: center;
    font-weight: 700;
    color: #303C6C;
	margin: 50px;
	font-weight: 900;
	letter-spacing: 2.5px;
}

h2 {
    color: #303C6C;
	font-weight: 700;
	margin: 25px auto;
}


/**************************
       NAVBAR
**************************/

header .navbar-default {
	background: rgba(0,0,0,.25);
	border: none;
}

header .navbar-brand {
	background: url(images/meblegk-logo.png) no-repeat center center;
	height: 80px;
	background-size: contain;
	width: 100px;
	padding: 0;
	margin: 10px 0;
}

header ul.nav {
	font-family: 'Bree Serif';
	font-size: 1.2em;
}

header ul.nav li {
	display: inline-block;
	padding: 25px 5px;
}

header .navbar-default .navbar-nav>li>a {
    color: #FBE8A6;
    box-sizing: border-box;
    height: 50px;
	transition: all .3s ease-in-out;
}

header .navbar-default .navbar-nav>li>a:hover {
    color: #F4976C;
	transform: translate(0px,-5px);
}
header .navbar-default .navbar-nav>li>a:active,
header .navbar-default .navbar-nav>li>a:focus {
    color: #EAC67A; 
    font-weight: 700;
    letter-spacing: 1px;
    border-bottom: 4px solid #EAC67A;
}


/**************************
       NAVBAR TOGGLE
**************************/

.navbar-toggle {
   margin-top: 32px; 
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: #303C6C;
}

.navbar-default .navbar-toggle {
    border-color: #FBE8A6;
}
.navbar-default .navbar-toggle span.icon-bar {
    background-color: #FBE8A6;
}


/**************************
       CAROUSEL
**************************/

header .fullheight {
    height: 100vh;
}

header .carousel .carousel-inner .item {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    height: 100%;
}

.carousel.fade {
	opacity: 1;
}
.carousel.fade .item {
	transition: opacity ease-in-out .7s;
	left: 0;
	top: 0;
	position: absolute;
	opacity: 0;
	width: 100%;
	display: block;
}

.carousel.fade .item:first-child {
	top: auto;
	opacity: 0;
	position: relative;
}

.carousel.fade .item.active {
	opacity: 1;
}

.carousel-control {
	opacity: 0;
}

.carousel-control:active {
	opacity: 0;
}
.carousel-control.right, .carousel-control.left {
	background-image: none;
}

.carousel-caption {
	top: 50%;
	left: 50%;
	bottom: 0;
    right: 0;
	transform: translate(-50%,-30%);
    display: block;
}

.carousel-caption h1 {
	padding: 20px;
	margin: 0;
	border: 4px solid white;
	opacity: .9;
    font-weight: 700;
    text-transform: uppercase;
    background-color: rgba(0,0,0,.5);
	color: #fff;
    
}


/**************************
       SECTION: O NAS
**************************/

section.onas {
    border-top: 10px solid #F4976C;
	background-image: linear-gradient(to bottom, #FFF, #EDE);
	position: relative;
	z-index: 0;
}

section.onas::after {
	content: '';
	 width: 100%;
	 height: 100%;
	 position: absolute;
	 background: inherit;
	 z-index: -1;
	 bottom: 0;
	 transform-origin: left bottom;
	 transform: skewY(2deg);
}

section.onas span {
	font-weight: 600;
}

section.onas span.glyphicon {
    font-size: 2.6em;
    color: #F4976C;
    margin-top:  15px;
	background-color: #B4DFE5;
	padding: 20px;
	border-radius: 100%;
}

.grzegorz_kudas {
	margin-top: 50px;
}

.grzegorz_kudas img {
	border: 3px solid #F4976C;
	padding: 2px;
	margin: 8px auto;
}

.grzegorz_kudas blockquote {
	border-left: 2px solid #F4976C;
}

.grzegorz_kudas blockquote footer {
	color: #303C6C;
	font-weight: 600;
	font-size: 1em;
}


/**************************
       SECTION: OFERA
**************************/

section.oferta {
	background: url(images/technical-drawing-1920.jpg) no-repeat center top;
	background-size: cover;
	background-attachment: fixed;
}

section.oferta .wrapper {
	background-color: rgba(210,253,255,.75);
	padding-bottom: 50px;
}

section.oferta h1 {
	margin-top: 65px;
}

section.oferta ul {
	border-left: 2px solid #303C6C;
	padding-left: 10px;
	font-size: 1.2em;
}

section.oferta ul li {
	font-weight: 600;
}


/**************************
       SECTION: PORTFOLIO
**************************/

section.portfolio {
    padding-bottom: 50px;
    background-image: linear-gradient(to top, #FDEAC6, #FAD88D);
}

.nav-pills {
    text-align: center;
    margin-bottom: 25px;
}

.nav-pills>li {
    display: inline-block;
    float: none;
    margin-bottom: 30px;
}

.nav-pills>li>a {
    border-radius: 30px;
    padding: 10px 30px;
    color: #303C6C;
    border: 2px solid #303C6C;
    font-weight: 600;
    transition: all .3s ease-in-out;
    box-shadow: 0px 17px 10px -10px rgba(0,0,0,.4);
}
.nav-pills>li>a:hover, .nav-pills>li>a:focus {
    background-color: #F4976C;
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,.2);
} 

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    font-weight: 700;
    box-shadow: 0px 0px 2px -3px black;
    box-shadow: 0px 37px 10px -15px rgba(0,0,0,.2);
}

section.portfolio .tab-pane .col-sm-2, section.portfolio .tab-pane .col-xs-2 {
    padding: 5px;
}

.thumbnail {
    border: none;
    box-shadow: 0px 20px 15px -5px rgba(0,0,0,.2);
    transition: all .3s ease-in-out;
}

.thumbnail:hover {
    transform: translate(0px, -5px);
    box-shadow: 0px 35px 10px -15px rgba(0,0,0,.2); 
}


/**************************
       SECTION: PYTANIA
**************************/
section.faq {
    background: url(images/question-mark-1920.jpg) no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
}
section.faq .wrapper {
	background-color: rgba(210,253,255,.75);
	padding-bottom: 50px;
}


/**************************
       MEDIA QUERIES
**************************/

@media only screen and (max-width: 767px) {
	header .navbar-collapse.collapse.in {
		padding: 0;
	}
    header ul.nav {
		margin: 0;
		width: 100%;
	}
	header ul.nav li {
        display: block;
        padding: 0;
        text-align: center;
    } 
	
	header .navbar-default .navbar-nav>li>a:hover {
		background-color: rgba(0,0,0,.5); 
		transform: translate(0px,0px);		
	}
}

@media only screen and (min-width: 550px) and (max-width: 767px) {
	section.onas .col-sm-4 {
		padding: 0 20%;
	}
    section.oferta .col-sm-4 {
		padding-left: 25%;
	}
}


@media only screen and (max-width: 550px) {
    .carousel-caption h1 {
        font-size: 1.6em;
    }  
    
    section.oferta .col-sm-4 {
		text-align: center;
	}
    section.oferta ul {
        border-left: none;
    }
}


@media only screen and (max-width: 320px) {
    .carousel-caption h1 {
        font-size: 1.2em;
    }  
}